<%- include('header') -%>
<div id="main-body">
    <div id="body-content">
        <h1> Student Information </h1>
        <ul>
            <li> ID: <%= student.ID %> </li>
            <li> Name: <%= student.name %> </li>
            <li> Department: <%= student.dept_name %> </li>
            <li> Total Credit Passed: <%= student.total_credit %> </li>
        </ul>
    </div>
</div>
<%- include('footer') -%>
