<%- include('header') -%>
<div id="main-body">
    <div id="body-content">
        <h1> Teacher Information </h1>
        <ul>
            <li> ID: <%= teacher.ID %> </li>
            <li> Name: <%= teacher.name %> </li>
            <li> Department: <%= teacher.dept_name %> </li>
            <li> Salary: <%= teacher.salary %> </li>
        </ul>
    </div>
</div>
<%- include('footer') -%>
